{% extends "index.html" %}
{% load static %}

{% block title %}Practice 2{% endblock %}
{% block heading %} Practice 2{% endblock %}
{% block body %}

<!--begin::Content-->
<div class="flex-lg-row-fluid ms-lg-7 ms-xl-10 mt-10" style="max-height: 70vh; max-width: 90vw;">
  <!--begin::Messenger-->
  <div class="card" id="kt_chat_messenger">
    <!--begin::Card header-->
    <div class="card-header" id="kt_chat_messenger_header">
      <!--begin::Title-->
      <div class="card-title">
        <!--begin::User-->
        <div class="d-flex justify-content-center flex-column me-3">
          <a href="#" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 mb-2 lh-1">Brian</a>
          <!--begin::Info-->
          <div class="mb-0 lh-1">
            <span class="badge badge-success badge-circle w-10px h-10px me-1"></span>
            <span class="fs-7 fw-semibold text-muted">Active</span>
          </div>
          <!--end::Info-->
        </div>
        <!--end::User-->
      </div>
      <!--end::Title-->
      <!--begin::Card toolbar-->
      <div class="card-toolbar">
        <!--begin::Menu-->
        <div class="me-n3">
        </div>
        <!--end::Menu-->
      </div>
      <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body" id="kt_chat_messenger_body" style="width: 90vw; max-width: 70vh;">
      <!--begin::Messages-->
      <div class="scroll-y me-n5 pe-5 h-300px" data-kt-element="messages" data-kt-scroll="true"
        data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
        data-kt-scroll-dependencies="#kt_header, #kt_app_header, #kt_app_toolbar, #kt_toolbar, #kt_footer, #kt_app_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer"
        data-kt-scroll-wrappers="#kt_content, #kt_app_content, #kt_chat_messenger_body" data-kt-scroll-offset="5px">
        <!-- Messages will be dynamically inserted here -->
      </div>
      <!--end::Messages-->
      <div id="bot-typing" class="text-muted ms-3" style="display: none;">Brian is typing...</div>
    </div>
    <!--end::Card body-->
    <!--begin::Card footer-->
    <div class="card-footer pt-4" id="kt_chat_messenger_footer">
      <!--begin::Input-->
      <textarea id="chatbox" class="form-control form-control-flush mb-3" rows="1" data-kt-element="input"
        placeholder="Type a message"></textarea>
        <input hidden id ='session_uuid' value="{{session_id}}">
      <!--end::Input-->
        <!--begin:Toolbar-->
        <div class="d-flex flex-stack">
          <!--begin::Actions-->
          <div class="d-flex align-items-center me-2">
            <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button" data-bs-toggle="tooltip"
              title="Coming soon">
              <i class="ki-duotone ki-paper-clip fs-3"></i>
            </button>
            <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button" data-bs-toggle="tooltip"
              title="Coming soon">
              <i class="ki-duotone ki-exit-up fs-3">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </button>
          </div>
          <!--end::Actions-->
          <!--begin::Send-->
          <button id="chat_submit" class="btn btn-primary" type="submit" name="submit" data-kt-element="send">Send</button>
          <button style="display: none;" id="restart_button" class="btn btn-primary" type="submit" name="restart" data-kt-element="send">Restart Chat</button>
          <!--end::Send-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Card footer-->
  </div>
  <!--end::Messenger-->
</div>
<!--end::Content-->

<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script type="text/javascript">
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  const session_id='1';
  const csrftoken = getCookie('csrftoken');
  const practice_add=` U.S Corporate Office
                      Rose City Eye Care 
                      5423 NE Central Street 
                      Suite 40
                      New York  12322  `;
  const practicde_name='Rose City Eye Care'; 
  const practice_hour='9 AM to 4 PM PST';                                     
  const practice_email='RoseCity@gmail.com';   
  const practice1_details=`

  Practice Name: Rose City Eye Care 

Practice Hours: 8 AM to 8 PM PST 

Practice Email: RoseCity@gmail.com 

 

Office Address 

U.S Corporate Office 

Rose City Eye Care 

6723 NE Bennett Street 

Suite 200 

Hillsboro, Oregon 97124 

Driving Directions 

 

India Offices 

Rose City Eye Care 

2nd Floor, Server Space, 

AG Technology Park 

Off ITI Road 

Survey No. 127/1A 

Plot No. 8 

Aundh, Pune – 411 007 

 

Insurance Coverage list : https://www.first-insight.com/ link 

 

We have below providers: 

Dr Anderson (Pediatrics) 

Dr. Anderson have 12 Year of extensive experience in Pediatric eye surgeries 

Dr. John  (Surgeon) 

xxxxx 

 

We have below services 

OPD 

Cataract Surgery 

Glaucoma 

 

           Product offered: 

Complete Eye check up: 200$ 

Comprehensive Eye checkup: 100$ 

 

            Parking instructions: 

Please park your vehicle in parking at L1 level in parking reserved for our clinic 

 

What should patient bring for their visit: 

Last medical report, Insurance card copy 

 

Cancelation or no show policy: 

Refer google.com for cancelation policy 

 

Payment types accepted: 

VISA, Credit card, Gpay, Cash, CareCredit 

 

Financing options available: 

Yes, With several credit card we do provide EMI option 

 

What languages are spoken in your office?: 

Spanish, English 

 

Are your facilities accessible for individuals with disabilities? 

Yes 

 

Do you offer any discounts? (Military, vetrans, childern, ect?) 

Yes, we do offer 10% discount on Military employees 

Do you have options for patietns to fill out paper work online? 

Yes, It is there and we recommend to fill before coming to clinic, it will save too much time, please vision https://intake.maximeyes.com to fill intake forms 

 

 

 

Do you want to allow patients to make payments online?: 

Yes, We do support VISA Credi card, Gpay, Cash 

  

Do you want to allow online booking?: 

Yes, https://booking,max.com 

 

Should patients arrive earlier than their scheduled appointment time? 

No 

 

Do you offer a wait list? 

Yes, but there is not guarantee if you get appointment or not. 
  
  
  
  `;                                  
  
  $(document).ready(function () {
    
    let typingTimer;

    var doneTypingInterval1 = 900000; // 50 seconds
    var doneTypingInterval2 = 90000; // 50 seconds

    // Function to handle typing in the chatbox
 
    // Function to handle typing in the chatbox
    $('#chatbox').on('input', function () {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(function() {
        doneTyping1();
        // Define a flag to check if there's been input after doneTyping1
        let inputAfterDoneTyping1 = false;
          
        // Check if there's been any input after doneTyping1
        $('#chatbox').on('input', function() {
          inputAfterDoneTyping1 = true;
        });

        // Only execute doneTyping2 if there hasn't been input after doneTyping1
        setTimeout(function() {
          if (!inputAfterDoneTyping1) {
            doneTyping2();
          }
        }, doneTypingInterval2);

      }, doneTypingInterval1);
    });

    // Function called when user stops typing and first message
    function doneTyping1() {
      // Append first bot's response to the chat window
      $('#kt_chat_messenger_body .scroll-y').append(`
        <div class="d-flex justify-content-start mb-10">
          <div class="d-flex flex-column align-items-start">
            <div class="d-flex align-items-center mb-2">
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" src="{% static 'static/images/avatars/300-25.jpg' %}" />
              </div>
              <div class="ms-3">
                <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">Bot</a>
                <span class="text-muted fs-7 mb-1">Just now</span>
              </div>
            </div>
            <div class="p-5 rounded bg-light-info text-dark fw-semibold mw-lg-400px text-start"
              data-kt-element="message-text"> Hii, are you still there ?</div>
          </div>
        </div>
      `);

      // Scroll to the bottom of the chat
      var chatBody = $('#kt_chat_messenger_body .scroll-y');
      chatBody.scrollTop(chatBody[0].scrollHeight);
    }

    // Function called after a shorter interval for second message
    function doneTyping2() {
      // Append second bot's response to the chat window
      $('#kt_chat_messenger_body .scroll-y').append(`
        <div class="d-flex justify-content-start mb-10">
          <div class="d-flex flex-column align-items-start">
            <div class="d-flex align-items-center mb-2">
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" src="{% static 'static/images/avatars/300-25.jpg' %}" />
              </div>
              <div class="ms-3">
                <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">Bot</a>
                <span class="text-muted fs-7 mb-1">Just now</span>
              </div>
            </div>
            <div class="p-5 rounded bg-light-info text-dark fw-semibold mw-lg-400px text-start"
              data-kt-element="message-text"> Thank you For your time .</div>
          </div>
        </div>
      `);

      // Scroll to the bottom of the chat
      var chatBody = $('#kt_chat_messenger_body .scroll-y');
      chatBody.scrollTop(chatBody[0].scrollHeight);

      // Hide the send button and show the restart button
      $('#chat_submit').hide();
     
      $('#restart_button').show();
    }
    $('#restart_button').click(function() {
      // Reload the page
      location.reload();
    });
    function send_message(){
      
      var message = $('#chatbox').val();
      var session_uuid = $('#session_uuid').val();
      
      if (message.trim() !== '') {
        // Disable the send button and show the bot typing indicator
        $('#chat_submit').attr('disabled', true);
        $('#bot-typing').show();
         // Append user's message to the chat window
        $('#kt_chat_messenger_body .scroll-y').append(`
              <div class="d-flex justify-content-end mb-10">
                <div class="d-flex flex-column align-items-end">
                  <div class="d-flex align-items-center mb-2">
                    <div class="me-3">
                      <span class="text-muted fs-7 mb-1">Just now</span>
                      <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">You</a>
                    </div>
                    <div class="symbol symbol-35px symbol-circle">
                      <img alt="Pic" src="{% static 'static/images/avatars/300-1.jpg' %}" />
                    </div>
                  </div>
                  <div class="p-5 rounded bg-light-primary text-dark fw-semibold mw-lg-400px text-end"
                    data-kt-element="message-text">${message}</div>
                </div>
              </div>
            `);
            
            var scrollElement = $('#kt_chat_messenger_body .scroll-y');
            scrollElement.scrollTop(scrollElement.prop('scrollHeight'));

            $('#chatbox').val(''); // Clear the input box
        
        $.ajax({
          type: 'POST',
          url: '/chatbot_view',
          headers: {
            'X-CSRFToken': csrftoken
          },
          data: JSON.stringify({
              input: message,
              session_id: session_uuid,
              practice: 'practice2'
          }),
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          success: function (response) {
           
          

            // Append bot's response to the chat window
            $('#kt_chat_messenger_body .scroll-y').append(`
              <div class="d-flex justify-content-start mb-10">
                <div class="d-flex flex-column align-items-start">
                  <div class="d-flex align-items-center mb-2">
                    <div class="symbol symbol-35px symbol-circle">
                      <img alt="Pic" src="{% static 'static/images/avatars/300-25.jpg' %}" />
                    </div>
                    <div class="ms-3">
                      <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">Bot</a>
                      <span class="text-muted fs-7 mb-1">Just now</span>
                    </div>
                  </div>
                  <div class="p-5 rounded bg-light-info text-dark fw-semibold mw-lg-400px text-start"
                    data-kt-element="message-text">${response.response}</div>
                </div>
              </div>
            `);
            // if (response.includes('Thanks, Have a great day!')) {
            //   $('#kt_chat_messenger_footer').hide();  }// Hides the div with id `myDiv`
                // $('#chat_submit').hide();
                // $('#restart_button').show();
            // Scroll to the bottom of the chat
            var chatBody = $('#kt_chat_messenger_body .scroll-y');
            chatBody.scrollTop(chatBody[0].scrollHeight);
           
            // Re-enable the send button and hide the bot typing indicator
            $('#chat_submit').attr('disabled', false);
            $('#bot-typing').hide();
          },
          error: function (error) {
            console.log(error);
            // Re-enable the send button and hide the bot typing indicator in case of error
            $('#chat_submit').attr('disabled', false);
            $('#bot-typing').hide();
            
          }
        });
      }
    
    }
    
    $('#chat_submit').click(function (e) {
      e.preventDefault()
      send_message()
      });
    $('#chatbox').keydown(function(e) {
        if (e.key === 'Enter' && !e.shiftKey) { // Check for Enter key without Shift
            e.preventDefault(); // Prevent the default behavior of the Enter key (new line)
            send_message(); // Call the send_message function
        }
    });

  });
</script>
{% endblock %}
